DB_USER=postgres
DB_PASSWORD=sua_senha
DB_HOST=localhost
DB_PORT=5432
DB_DATABASE=agenda_unhas
# DATABASE_URL=postgres://usuario:senha@host:5432/banco
# DB_SSL=true
PORT=3000
CORS_ORIGIN=*
PUBLIC_BASE_URL=https://seu-dominio.com
WHATSAPP_BUSINESS_NUMBER=5511999999999
ADMIN_TOKEN=troque-esta-senha
# ADMIN_PATH=/painel-karina-secreto
MERCADO_PAGO_ACCESS_TOKEN=APP_USR_seu_access_token
MERCADO_PAGO_WEBHOOK_SECRET=sua_chave_secreta_do_webhook
